.Title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgb(192, 45, 26);
  color: #fff;
}

.Title-Subtitle {
  color: rgba(255, 255, 255, 0.75); 
  font-size: 1.2em;
  margin-top: 0.5em;
}

.Title a {
  display: inline-block;
  padding: 0.5em 1em;
  color: rgba(255, 255, 255, 0.835);
  font-weight: bold;
  text-decoration: none;
}

.Title .nav-link-active {
  color: #fff;
  border-bottom: 2px solid;
}

@media only screen and (max-width: 768px) {
  .Title {
    padding: 0.5em;
    margin-bottom: 1em;
  }
  
  .Title h1 {
    font-size: 1.8em;
    margin: 0.5em 0;
  }
  
  .Title-Subtitle {
    font-size: 1em;
    margin-top: 0.3em;
  }
  
  .Title a {
    padding: 0.4em 0.8em;
    font-size: 0.9em;
  }
}